<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Latest IIIF Updates</title>
    <style media="screen">
      .doc {
        border: 1px solid black;
        padding: 20px;
        margin: 20px;
      }
      .updated {
        color: gray;
      }
      iframe.navbar-header {
        display: none;
      }
    </style>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Latest IIIF Updates as of <%= DateTime.now %></h1>
    <p>Simple demo of harvesting just the most recent <%= times %> documents from each stream ordered by most recently updated first.</p>
    <p><a href="https://gitlab.com/jronallo/updated-iiif">code repository</a></p>
    <div>
      ActivityStreams crawled:
      <% urls.each do |url| %>
        <div>
          <a href="<%= url %>"><%= url %></a>
        </div>
      <% end %>
    </div>
    <p>
      Filter by title: 
      <input id="search" type="text" placeholder="filter by title">
    </p>
    <% index_docs.each do |doc| %>
      <div id="id<%= doc[:id] %>" class="doc">
        <div class="title"><%= doc[:title] %></div>
        <div class="updated"><%= doc[:updated] %></div>
        <div>
          <iframe src="http://universalviewer.io/uv.html?manifest=<%= doc[:manifest] %>" allowfullscreen width="800" height="500"></iframe>
        </div>
        <div>manifest: <a href="<%= doc[:manifest] %>"><%= doc[:manifest] %></a></div>
        <div>activity stream page: <a href="<%= doc[:page] %>"><%= doc[:page] %></a></div>
      </div>
    <% end %>

    <script src="./search.js" charset="utf-8"></script>
  </body>
</html>
